@{
	ViewData["Title"] = "index";
}
@model Certificate_Wiki.Models.Search.SearchModel
<link rel="stylesheet" href="~/css/pages/search.css" media="all" />

<div class="background"></div>
<div class="content">
	<div class="search-header">
		<div class="search-left">
			<img src="~/images/Search/Component 1 – 1.png" alt="error loading image" />
		</div>
		<div class="search-right">
			<h1>Search Certificates</h1>
			<p>Search certificate by name or user by email</p>
			<form method="get" asp-route-page="1">
				<input type="search" asp-for="search" placeholder="Search" />
				<button class="search-btn">Search</button>
			</form>
		</div>
	</div>
	<div class="table-wrapper">
		<table>
			<thead>
				<tr>
					<th>Certificate</th>
					<th>Description</th>
					<th>Subject</th>
					<th>Site</th>
					<th>Author</th>
					<th>View</th>
				</tr>
			</thead>
			<tbody>
				@if (Model.certificateUsers == null && Model.certificatesResult.ToList().Count() > 0) {

					@foreach (var certificate in Model.certificatesResult.ToList()) {

						<tr>
							<td>@certificate.CertificateName</td>
							<td>
								@certificate.Description
							</td>
							<td>@certificate.Subject</td>
							<td>@certificate.Admissioner</td>
							<td>Certificate owner</td>
							<td>
								<a asp-action="Index" asp-controller="Certificate" asp-route-id="@certificate.CertificateId">
									<img src="~/images/Search/Component 2 – 1.png" alt="Error loading image" />
								</a>
							</td>
						</tr>
					}
				} else if (Model.certificateUsers.ToList().Count() > 0) {
					@foreach (var user in Model.certificateUsers.ToList()) {
						if (user.isPrivate) {
							<tr>
								<td>Private user</td>
							</tr>
						}
						<tr>
							<td>@user.Email</td>
						</tr>
					}
				} else {
					<tr>
						<td>No certificates or users found</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<div class="pages">
		<a asp-action="Index" asp-route-page="1" asp-route-search="@Model.search">
			1
		</a>
		<a asp-action="Index" asp-route-page="2" asp-route-search="@Model.search">
			2
		</a>
		<a asp-action="Index" asp-route-page="3" asp-route-search="@Model.search">
			3
		</a>
		<a asp-action="Index" asp-route-page="2" asp-route-search="@Model.search">
			4
		</a>
	</div>
</div>